@media (max-width: 750px) {
    .colorblue {
        background-color: rgba(0, 0, 255, 0.83);
        height: 300px;
        width: 26%;
        margin-top: 5%;
        margin-left: 41%;
        border-radius: 15% 15% 0% 0%;
    }

    .divimg {
        border-radius: 0% 0% 5% 5%;
        background-color: rgba(255, 68, 0, 0.67);
        height: 60px;
        width: 26%;
        position: absolute;
        top: 69%;
        left: 41%;
    }

    .divimg3 {
        border-radius: 0% 0% 5% 5%;
        background-color: green;
        height: 60px;
        width: 100%;
        position: absolute;
        top: 1300%;
        left: 0%;
    }

    .divimg1 {
        border-radius: 0% 0% 5% 5%;
        background-color: rgba(137, 43, 226, 0.668);
        height: 60px;
        width: 100%;
        position: absolute;
        top: 420%;
        left: 0%;
    }

    .divimg4 {
        border-radius: 0% 0% 5% 5%;
        background-color: rgb(137, 43, 226);
        height: 60px;
        width: 100%;
        position: absolute;
        top: 1800%;
        left: 0%;
    }

    .divimg2 {
        border-radius: 0% 0% 5% 5%;
        background-color: rgba(236, 28, 63, 0.84);
        height: 60px;
        width: 100%;
        position: absolute;
        top: 850%;
        left: 0%;
    }

    .divimg5 {
        border-radius: 0% 0% 5% 5%;
        background-color: gold;
        height: 60px;
        width: 100%;
        position: absolute;
        top: 2300%;
        left: 0%;
    }
}